spring:
  datasource:
    driverClassName: com.mysql.jdbc.Driver
    url: jdbc:mysql://localhost:3306/gestaoprodutos
    username: root
    password: 1234
    jpa:
      properties:
        hibernate:
          ddl-auto: update
      show-sql: true
  application:
    name: gestao-produtos

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka

flyway:
  outputQueryResults: false

security:
  outh2:
    resource:
      user-info-uri: http://localhost:8088/api/usuarios/principal